<h2>Add Course</h2>
<form method="post">
    <div class="mb-2">
        <label>Title:</label>
        <input type="text" name="Title" class="form-control" />
    </div>
    <input type="submit" value="Add" class="btn btn-success" />
</form>
