<h2>Evaluate @ViewBag.CourseTitle</h2>
<form method="post">
    <input type="hidden" name="CourseID" value="@ViewBag.CourseId" />
    <div class="mb-2">
        <label>Rating (1-5):</label>
        <input type="number" name="Rating" min="1" max="5" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Comment:</label>
        <textarea name="Comment" class="form-control"></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-success" />
</form>
